body{
    background-image: url('multimedia/bg.png');
}

h1{
    font-family: Impact, Charcoal, sans-serif;
    color: white;
    background-color: black;
    font-size: 48px;
}

h2{
    font-size: 36px;
    font-family: Impact, Charcoal, sans-serif;
}

main{
    background-color: rgb(250, 250, 250, 0.8);
}

table th{
    border: 2px solid white;
    background-color: teal;
}

table td{
    border: 2px solid white;
    text-align: center;
}

li{
    list-style: none;
}

nav{
    background-color: white;
}
nav a{
    text-decoration: none;
    font-size: 20px;
    color: black
}

nav :hover{
    background-color: red;
    color: white;
}

footer{
    background-color:  rgb(250, 250, 250, 0.8);
}